<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Pierre Beard, Front End Engineer with a passion for beautiful UI, animations and functionnal programming - Built with ReactJS on ES6, powered by WEBPACK">
  <meta name="keywords" content="FrontEnd, Engineer, React, ES6, UI, PBRT, Pierre, Beard, Pierre Beard, javascript">
  <meta name="author" content="Pierre Beard">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"
  >
  <title>Pierre Beard</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73772192-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <%= reactContent %>
  <div id='app'></div>
  <script src="bundle.js"></script>
</body>
</html>
